h1 {
    color: darkslategrey;
    background-color: #9b7e5a91;
    font-size: 45px;
}

#tprincipal {
    color: rgba(61, 57, 57, 0.89);
    
}
body {
    color: black;
    font-size: 25px;
}
body {
background-color: rgb(240, 218, 192);
}

